<h1>Register for Quiz Show</h1>

<% if @user.errors.any? %>
<div id="error_explanation">
 <ul>
  <% @user.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
 </ul>
</div>
<% end %>

<%= form_with scope: :user, url: users_path, local: true do |form| %>

<p>
 <%= form.label :username %><br />
 <%= form.text_field :username %>
</p>

<p>
 <%= form.label :password %><br />
 <%= form.password_field :password %><br />
</p>

<p>
 <%= form.submit "Register" %>
</p>

<% end %>
